/*------------
    RESET
------------*/    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------------
   GENERAL
------------*/  
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}  

/*------------
   HEADER
------------*/    
.header-top {
    padding: 15px 0;
    background-color: #add8e6;
}

.header-top > .container {
    display: flex;
    background-color: #daa520;
}
.header-top .container * {
    border: 1px dashed black;
    padding: 6px;
}
.header-top .logo, .header-top .login{
    width: 20%;
}
.header-top .login{
    text-align: right;
}
.header-top nav{
    flex-grow: 1;
    text-align: center;
}
.header-bottom {
    padding:40px 0;
    background-color: #00008b;
}
.header-bottom .container {
    display: flex;
    background-color:#ee82ee;
    max-width: 900px;
    min-height: 300px;
    border: 1px dashed black;
}

/*------------
   MAIN
------------*/ 

.section-top > .container{
    display: flex;
    padding: 40px 0;
}
.section-top .big, .section-top .small{
    min-height: 450px ;
    border: 1px dashed black;
}
.section-top .big{
    background-color: #1e90ff;
    width: 60%;
}
.section-top .small{
    background-color:#ffc0cb ;
    width: 40%;
}

.section-center{
    background-color:#d3d3d3 ;
}
.section-center > .container{
    display: flex;
    padding: 40px 0;
}
.section-center .big, .section-center .small{
    min-height: 450px ;
    border: 1px dashed black;
}
.section-center .big{
    background-color: #1e90ff;
    width: 60%;
}
.section-center .small{
    background-color:#ffc0cb ;
    width: 40%;
}


.section-bottom {
    padding:40px 0;
    background-color: #d3d3d3;
}
.section-bottom .container {
    display: flex;
    background-color:#228b22;
    min-height: 800px;
    border: 1px dashed black;
}

/*------------
    FOOTER  
------------*/ 
footer{
    background-color: #23272a;
}
.footer-top > .container{
    display: flex;
    min-height: 500px;
    padding-top: 15px;
    padding-bottom: 35px;
    border-bottom: 1px solid white;
}
.footer-top .small{
    width: 18%;
    background-color: #20b2aa;
    border: 1px dashed white;
}
.footer-top .big{
    width: 28%;
    background-color:#f08080;
    border: 1px dashed black;
}